extends logged_page_layout
block vars
 - var title = "addItems"

block content
 center
  br
  h1 Add-Items
  form(action="/addItems" method="POST")
   table(cellpadding=5)
    tr
     td
      b Item-Name:
     td 
      input(type="text" name="name" required)
    tr
     td
      b Base-Price: 
     td
      input(type="text" name="name" required)
    tr
     td
      b Date&Time: 
     td
      input(type="text" name="name" placeholder="YY-MM-DD  HH:MM" required) 
    tr
    tr
     td
      b Status: 
     td
      input(type="text" name="name" required)
    tr
     td
      b Description: 
     td
      textarea(name="topicDesc" placeholder="description" required)
    tr
   br
   br
   input(type="submit" value="Add")