block vars
doctype html
html
  head
    title addItems #{title}
    link(rel='stylesheet', href="/stylesheets/style.css")
    h1(style = "text-align: center;") Online-Auction
    a(href='/adminDashboard') Home

    div(class="topbar" align='right')  admin
      |&nbsp;... 
      a(href='/home') Logout
      hr
    block scripts
block content
 center
  br
  h1 Add-Items
  form(action="/addItems" method="POST")
   table(cellpadding=5)
    tr
     td
      b Item-Name:
     td 
      input(type="text" name="name" required)
    tr
     td
      b Base-Price: 
     td
      input(type="text" name="basePrice" required)
    tr
     td
      b Date&Time: 
     td
      input(type="text" name="date" placeholder="YY-MM-DD  HH:MM" required) 
    tr
    tr
     td
      b Status: 
     td
      input(type="text" name="status" required)
    tr
     td
      b Description: 
     td
      textarea(name="desc" required  placeholder="description")
    tr
   br
   br
   input(type="submit" value="Add")

   
