extends logged_page_layout
block vars
 - var title = "adminDashboard"

block content
  a(href='/addItems') Add-Items
  br
  br
  a(href='/manageAuction/') Manage-Auction
  br
  br
  a(href='/viewUpcomingAuction/') View-Upcoming-Auction