extends logged_page_layout
block vars
 - var title = "adminDashboard"

block content
  br
  br
  a(href='/addItems') Add-Items
  br
  br
  h1 Upcoming Auction
  table(cellpadding=5)
      tr
        th ItemName
        th Date
        th Status
        th Description
      tr
      each topic in upcomingAuction
        tr
          td #{topic.name}
          td #{topic.date}
          td #{topic.status}
          td #{topic.description}

