extends layout
block vars
 - var title = "Admin-Login"
block content
 a(href="/") Home 
 center
  h1 Online-Auction
 hr
 center
  br
  h2 Login to your account
  form(action="/adminLogin" method="POST")
   span 
    |UserName:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    input(type="text" name="user_name" required)
   br
   br
   span 
    |Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    input(type="password" name="password" required)
   br
   br
   input(type="submit" value="Login")
  br
  br
  if error
   label(class="error") ERROR: #{error}