block vars
	-var title = "auction" 
doctype html
html
head
	title #{title}
	link(rel='stylesheet', href="/stylesheets/style.css")
block content
	h1(style = "text-align: center;") Online-Auction
	a(href='/userDashboard') Dashboard
	div(class="topbar" align='right') #{userName}
		a(href='/userLogout') Logout
	hr
	div(id="auctionDetail")
		h3 Participiants 
		div(id="participants")
		h3 Current-Price 
		div(id="price")
		input(type="text" name="bidPrice" id="bidPrice" placeholder="Enter Price")
		br
		br
		button(type="submit" id="putPrice") Your Price
	div(id="result")



