div
    label(for='bidder' ) Name Of Bidder
    input(type="text" id="bidder") 
    |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    label(for='amount') Current Bid
    input(type="text" id="amount")