extends layout
//- block vars
 //- - var title = "Adda-Home"
block content
 div
  center
   h1 Online-Auction
   <hr></hr>
   p For Auction Master(Admin) 
    a(href="/adminLogin") Login
  br
  <hr></hr>
  h2 AUCTIONS LIST
  table(cellpadding=5 border='1')
      tr
        th ItemList
        th Date
      tr
      each topic in topics
        table(cellpadding=5 )
          tr
           td 
           a(href='/itemDescription/#{topic.id}') #{topic.name}
           td  &nbsp;&nbsp;&nbsp; #{topic.date}
