block vars
doctype html
html
  head
    title Auction #{title}
    link(rel='stylesheet', href="/stylesheets/style.css")
    h1(style = "text-align: center;") Online-Auction
    a(href='/') Home

    div(class="topbar" align='right') admin
      |&nbsp;... 
      a(href='/adminLogout') Logout
      hr
    block scripts
  body
    block content