block vars
doctype html
block scripts
	script(type ="text/javascript" src="/javascripts/jquery-2.1.1.min.js")
	script(type ="text/javascript" src ="/javascripts/main.js")
html
	head
		title Auction #{title}
		link(rel='stylesheet', href="/stylesheets/style.css")
		h1(style = "text-align: center;") Online-Auction
		a(href='/') Home  
	body
		div(class='dash') 
			a(href='/userDashboard') Dashboard
		form(name="option")
			hr
			h3 Sign In For Register Item
			|Email-Id : 
			input(type="email" id="email" required)
			br
			br
			|Password : 
			input(type="password" id="password" required)
			br
			br
			button(id="register") Submit
		div
			h2 Help-
			|1:-Already have account Sign in  for Register.
			br
			|2:-Don't have account goto home and Register first.
