block vars
doctype html
html
  head
    title addItems #{title}
    link(rel='stylesheet', href="/stylesheets/style.css")
    h1(style = "text-align: center;") Online-Auction
    a(href='/adminDashboard') Dashboard

    div(class="topbar" align='right')  admin
      |&nbsp;... 
      a(href='/home') Logout
      hr
    block scripts
block content
 center
  h2 Manage Auction