block vars
doctype html
html
  head
    title addItems #{title}
    link(rel='stylesheet', href="/stylesheets/style.css")
    h1(style = "text-align: center;") Online-Auction
    a(href='/') Home
    hr
    block scripts
block content
 center
  h1 Login your account
  form(action="/userLogin" method="POST")
   span 
    |Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    input(type="email" name="email_id" required)
   br
   br
   span 
    |Password:
    input(type="password" name="password" required)
   br
   br
   input(type="submit" value="Login")
  br
  br
  if error
   label(class="error") ERROR: #{error}