extends logged_page_layout
block vars
 - var title = "userDashboard"

block content
 div
  center
   h1 Welcome #{userName}
    title Auction #{title}
    link(rel='stylesheet', href="/stylesheets/style.css")
    h1(style = "text-align: center;") Online-Auction
    a(href='/') Home

    div(class="topbar" align='right') Prashant
      |&nbsp;... 
      a(href='/userLogout') Logout
      hr
    h2 List of add auction
