block vars
doctype html
html
  head
    title resister #{title}
    link(rel='stylesheet', href="/stylesheets/style.css")
    h1(style = "text-align: center;") Online-Auction
    a(href='/') Home
    hr
    block scripts
block content
 center
  h1 Register your account
  if error
   p ERROR: #{error}
  form(action="/userRegistration" method="POST")
   span 
    |Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    input(type="text" name="name" required)
   br
   br
   span 
    |Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    input(type="email" name="email_id" required)
   br
   br
   span 
    |Password:
    input(type="password" name="password" required)
   br
   br
   input(type="submit" value="Register")