body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#desc {
	height: 80px;
	width: 170px;
}

.admin{
	height: 30px;
	width: 48%;
	margin-left: 55%;
	display: inline;
}

.user{
	height: 30px;
	width: 48%;
	display: inline;
}